

#header {
    height: 100px;
    background-image: url("./images/dress.png");
    background-size: contain;
    background-repeat: repeat-x;  
    overflow: hidden;
}

#dogRun {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    animation-name: animDog;
    animation-duration: 490ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


div#strokeAccount {
    display: flex;
    justify-content: flex-end;
}

div#containerAccount {
    display: flex;
}

div#circleAccount {
    margin-right: 10px;
}


div#textAccount {
    margin-top: 5px;
    margin-right: 10px;
}

div#circleAccount {
    background-color: gray;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    background-position: center;
    background-size: cover;
}


#article {
    margin: 10px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
}

.navlink {
    text-decoration: none;
    transition: 0.4s all linear;
    }

.columns {
    background-color:#5c821a;
    color: #0f1b07;
    font-size: 190%;
    flex-basis: 350px;
    font-family: cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columns ul {
    list-style-type: none;
}






#columnLeft {
    border: 50px solid;
    border-image-source: url("./images/bons.png");
    border-image-slice: 576;
    border-image-repeat: round;
    ul {
        align-self: flex-start;
    }
}



#columnMidle {
    flex-grow: 1;
}

#columnRight {
    border: 50px solid black;
    border-image-source: url("./images/ramkaRight.png");
    border-image-slice: 86.5;
    border-image-repeat: space;
    ul {
        align-self: flex-end;
    }
}


@keyframes animDog {
    from {
        background-image: url("./images/dog1.png");
    }

    50% {
background-image: url("./images/dog2.png");
    }

    to {
        background-image: url("./images/dog3.png");
    }
}
