@font-face {
    font-family: "mr_countryhouseg_0";
    src: url("./fonts/mr_countryhouseg_0/mr_countryhouseg_0.ttf");
}

#body {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


#header {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dogJorik {
    background-image: url('./images/erk.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    animation-name: animsForDogJorik;
    animation-duration: 1s;
    animation-timing-function: ease;
}
#ourLapki {
    display: flex;
    border: 1ps solid yellow;
}

#lapki {
    background-image: url('./images/lapka.png');
    background-position: center;
    background-repeat: repeat-x;
    background-size: contain;
    width: 50px;
    height: 50px;
    transition: 1s all linear;
}

#footer {
    transform: translateY(-50x);
    opacity: 0%;
    margin-bottom: 100px;
    text-align: center;
    animation-name: animForLoading;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#textInFooter {
    font-family: "mr_countryhouseg_0";
    font-size: 325%;
}

@keyframes animsForDogJorik {
    from {
        opacity: 0%;
        transform: translateY(-100px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes animForLoading {
    from {
        opacity: 0%;
        transform: translateY(-50px);
    }
    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}