div#menu {
    background-color: azure;
    display: flex;
    justify-content: center;
    margin-left: -6px;
    h1 {
        text-align: center;
        font-size: 270%;
    }
}

div#form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 50%;
}

div#form form {
    text-align: center;
    width: 100%;
    input {
        width: 40%;
        height: 45px;
        margin-bottom: 30px;
    }
}

::placeholder {
    text-align: center;
}

