div#menu {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#form {
    h1 {
        text-align: center;
    };
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            width: 400px;
            height: 25px;
        };
        button {
            width: 300px;
        }
    }
}


::placeholder {
    text-align: center;
}

