div#container {
    height: 100vh;
    display: flex;
    background-image: url('./images/backgroundAccaunt.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

div#columnLeft {
    box-shadow: 15px 0px 15px #1b1b1b;
    border: 5px outset black;
    background-color: rgb(105, 204, 6);
    flex-basis: 20%;
    margin: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    ul {
        list-style-type: none;
        margin-top: 50px;
        li {
            font-size:xx-large;
            margin-top: 10px;
        }
    }
}


div#footer p {
    text-align: center;
    font-size: 300%;
}


div#columnRight {
    flex-basis: 80%;
    margin: 10px;
    border: 5px solid yellow;
}